body {
    background: #898989
}

p {
    text-align: center;
}

#FM1 {
    width: 100%;
}

#right {
    width: 100%;
    }
#BRD {
    border: 10px solid rgb(255, 242, 0);
    margin-left: 35%;
    margin-right: 35%;
}

h1 { 
    text-align: center }

#Q {
   color: gold; 
}

    h2 {
        text-align: center;
    }

em  {
    color: rgb(255, 68, 0);
}

p {
    font-size: 20px;
}

strong {
    color: rgb(5, 1, 216);
}

#F {
    color: goldenrod;
}

#FM4 {
    width: 100%;
}