body {
    background: #898989
}

p {
    text-align: center;
}

#FM1 {
    width: 100%;
}

#right {
    width: 100%;
    }

h1 { 
    text-align: center }

#Q {
   color: gold; 
}

    h2 {
        text-align: center;
    }

em  {
    color: rgb(255, 68, 0);
}

p {
    font-size: 20px;
}

#F{
    color: goldenrod;
}

strong {
    color: rgb(16, 3, 255);
}

 #FM4 {
    width: 100%;
 }

