body {
    background: #00fd94
}

p {
    text-align: center;
}


h1 { 
    text-align: center }

    h2 {
        text-align: center;
    }

em strong {
    color: rgb(25, 0, 255);
}

img {
    image-resolution: 1920 1080;
}